<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <link rel="stylesheet" href="/css/main.css" />

  <body class="body">
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-headr__item-list">
          <li class="main-headr__item"><a href="/" class="active">shop</a></li>
          <li class="main-headr__item">
            <a href="/admin/add-product">add-product</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Page Not Found</h1>
  </body>
</html>
