<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <link rel="stylesheet" href="/css/main.css" />
  <body class="body">
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-headr__item-list">
          <li class="main-headr__item"><a href="/" class="active">shop</a></li>
          <li class="main-headr__item">
            <a href="/admin/add-product">add-product</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>

  <main>
    <div class="grid">
      <article class="card prodcut-item">
        <header class="card__header">
          <h1 class="product__title">NO Risk No Fun v1 </h1>
        </header>
        <div class="car__image">
            <img src="https://cdn.pixabay.com/photo/2024/04/29/04/21/neon-8726714_1280.jpg" alt="tShitrt">
        </div>
        <div class="card__content"> 
          <h2 class="product__price">400L.E</h2>
          <p class="product__description">it's comfortable made with the best materiale 100% egyption cotton</p>
        </div>
        <div class="car__action">
          <button class="card__button">Add to cart</button>
        </div>
      </article>
    </div>
  </main>
</html>
